@model IEnumerable<Studentenbeheer.Models.Docent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortedatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geslacht)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var docent in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => docent.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => docent.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => docent.Geboortedatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => docent.Geslacht.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@docent.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@docent.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@docent.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
