@model AppUserViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Studentenbeheer.Areas.Identity.Data
@inject IViewLocalizer Localizer;



@{
    ViewData["Title"] = Localizer["Change Roles"];
}

<h2>@Model.UserName: @Localizer["Change Roles"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Roles" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">@Localizer["UserName"]
                <input class="filled-in" asp-for="UserName" class="form-control" asp-items="ViewBag.GroupId" disabled></input>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Voornaam"]</label>
                <input class="filled-in" asp-for="Voornaam" class="form-control" asp-items="ViewBag.UserId" disabled></input>
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Achternaam"]</label>
                <input class="filled-in" asp-for="Achternaam" class="form-control" disabled/>
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Student"]
                <input class="filled-in" type="checkbox" asp-for="@Model.Student" />
                <span asp-validation-for="Student" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Docent"]
                <input class="filled-in" type="checkbox" asp-for="@Model.Docent" />
                <span asp-validation-for="Docent" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Beheerder"]
                <input class="filled-in" type="checkbox" asp-for="@Model.Beheerder" />
                <span asp-validation-for="Beheerder" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}